extends layout

block content
    section.section
        .container

            h1.title.has-text-centered
                | Notes Board

            .tabs.is-centered
                ul
                    li
                        a.show-modal(href='#') Publish

            main(container).notes-list
                each note in data.notes
                    include components/note
                    hr

            .modal
                .modal-background
                .modal-card
                    header.modal-card-head
                        p.modal-card-title Add note
                        button.delete(aria-label='close')

                    section.modal-card-body
                        form(action='/note' method='POST', enctype='multipart/form-data').note-form#note-form
                            .field
                                .control
                                    input.input(name='noteTitle' type='text' placeholder='Title')
                            .field
                                .control
                                    input.input(name='noteDescription' type='text' placeholder='Short description')
                            .field
                                .control
                                    label(for="test123") Upload File
                                    input.input(name='upload' type='file' id='test123' style='opacity:0; position:absolute; top:0; left:0')
                            .field
                                .control
                                    textarea.textarea(name='noteContent' placeholder='Contents')
                            .field
                                .control
                                    button.button.is-link Save